body{
    font-family: 'Noto Serif', serif;;
}
.navbar{
    background-color: #5695e7ef;
    color: antiquewhite;
}
.tit{
    font-family: 'Cinzel Decorative', cursive;
    color:white
}
.menu{
    color: white
}
.predio{
    margin-top: 15%;
 
}
.historia{
    margin-top: 50px;
    border-radius: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-image: url(/img/FUNDO-PRG.jpg);
}
.margesq{
    margin-top: 40%;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}
.margdir{
    margin-top: 100%;
    font-family: 'Satisfy', cursive;
    font-size:25px;

}
.sala{
    margin-top: 30px;
    padding: 15px;
}
.textosala{
    margin-top: 30%;

}
.lanc{
    font-family: 'Satisfy', cursive;
    margin-top: 90px;

}
.lanc-2021{
    text-align: right;
    color:black;
    width: 100%;
    height: 20rem;
    margin-top: 50px;
    border-radius: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/img/FUNDO-PRG.jpg);
    
}
.lancamentos {
    text-align: justify;
}
.fundo-img{
    width: 200px;
    height: 150px;
    background-attachment: fixed;

}
#resultado{
    margin-top: 30px;
}
.resultado{
    margin-top: 60px;
}
h5{
    margin-top: 60px;
}
div#popup{
    width: 600px;
    height: 400px;
    position: absolute;
    background-color: rgba(118, 233, 220, 0.863);
    display: none;

}
div#enviado{
    
    color: black;

}
form#formulario{
    text-align: center;
    ;
}
p#form{
    text-align: center;
    
   
}
footer#footer{
    margin-top: 20%;
}